/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
---------------------------------
  U T I L I T Y
--------------------------------- */

.group {
  *zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}

/* 
------------------------------------
  T Y P O G R A P H Y
------------------------------------ */

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: gray;
}

body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif; 
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: 24px;
}

h1 {
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: 36px;
}

.uppercase {
  text-transform: uppercase;
}

.post h1 {
  color: black;
  font-size: 24px;
  line-height: 32px;
  margin-top: -8px;
}

h2, h3, h4, h5, h6 {
  color: black;
  font-size: 24px;
}

header {
  background-color: #520063;
  background-image:     -ms-linear-gradient(bottom, #530063 0%, #B774C4 100%);
  background-image:    -moz-linear-gradient(bottom, #530063 0%, #B774C4 100%);
  background-image:      -o-linear-gradient(bottom, #530063 0%, #B774C4 100%);
  background-image:        -webkit-gradient(linear, left bottom, left top, color-stop(0, #530063), color-stop(1, #B774C4));
  background-image: -webkit-linear-gradient(bottom, #530063 0%, #B774C4 100%);
  background-image:         linear-gradient(to top, #530063 0%, #B774C4 100%);
  border-bottom: 3px solid black;
  font-family: Helvetica, Arial, sans-serif; 
  margin-bottom: 36px;
  padding: 30px 0;
}

p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: gray;
  border-top: 3px solid black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; 
  margin: 50px 0;
  padding: 10px 0 30px 0;
}

strong {
  font-weight: bold;
}

/* 
----------------------------------
  L I S T  S T Y L I N G 
---------------------------------- */

#navcontainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#navcontainer ul li {
  display: inline;
  font-size: 20px;
  }

#navcontainer ul li a {
  color: gray;
  padding: 10px 20px;
  text-decoration: none;
}  

#navcontainer ul li a:hover {
  color: white;
}

li {
  margin: 0;
  padding: 20px;
}

ul {
  list-style: none;
}


/*
---------------------------------------------
  S T R U C T U R E
--------------------------------------------- */

.center {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.alpha {
  float: left;
  margin: 0 10px;
  width: 676px;
}

.omega {
  float: right;
  margin: 0 10px;
  width: 244px;
}

.post {
  border-bottom: 1px solid black;
  float: left;
  margin: 0 0 30px 0;
  width: 547px;
}

.date {
  float: left;
  font-style: italic;
  font-size: 14px;
  padding: 0 5px;
  width: 109px;
}

img {
  border: 2px solid black;
  padding: 10px;
}

iframe {
  margin-bottom: 20px;
}

/* 
---------------------------------------------
  B A C K G R O U N D   E X P E R I M E N T 
--------------------------------------------- */

.alert {
  border-radius: 6px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 20px 0;
  padding: 0 10px 0 0;
}

.alert .icon {
  border-radius: 6px 0 0 6px;
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.alert h5, .alert p {
  color: white;
}

.alert h5 {
  font-size: 18px;
  margin-bottom: 5px;
  padding-top: 17px;
}

.alert p {
  font-size: 16px;
  margin-bottom: 0;
}

.alert.tip {
  background-color: #3fbafc;
  box-shadow: #3fbafc 0 1px rgba(0, 0, 0, .5);
  text-shadow: #3fbafc 0 1px rgba(0, 0, 0, .5);
}

.alert.tip .icon {
  background: #2176b0 url(../img/lightbulb.png) 50% 50% no-repeat;
}

.alert.achieve {
  background-color: #8ed055;
  box-shadow: #8ed055 0 1px rgba(0, 0, 0, .5);
  text-shadow: #8ed055 0 1px rgba(0, 0, 0, .5);
}

.alert.achieve .icon {
  background: #689a3e url(../img/lightbulb.png) 50% 50% no-repeat;
}

.alert.error {
  background-color: #ebd549;
  box-shadow: #ebd549 0 1px rgba(0, 0, 0, .5);
  text-shadow: #ebd549 0 1px rgba(0, 0, 0, .5);
}

.alert.error .icon {
  background: #bfa541 url(../img/lightbulb.png) 50% 50% no-repeat;
}

.alert.warning {
  background-color: #f75959;
  box-shadow: #f75959 0 1px rgba(0, 0, 0, .5);
  text-shadow: #f75959 0 1px rgba(0, 0, 0, .5);
}

.alert.warning .icon {
  background: #b93f3c url(../img/lightbulb.png) 50% 50% no-repeat;
}

.alert-back {
  background-color: #fff9ad;
  height: 400px;
  margin: 0 auto;
  width: 700px;
  padding: 20px 20px 0 20px;
}


/* 
---------------------------------------------
  L I S T   E X P E R I M E N T 
--------------------------------------------- */

.month-back {
  background-color: #fff9ad;
  height: 260px;
  margin: 50px auto 20px;
  padding: 20px;
  width: 280px;
}

.month {
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
}

.month ol {
  list-style-type: none;
  margin: 0;
}

.month-header {
  background-color: #35a9f6;
  padding: 10px 0;
}

.month-header p {
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 0px;
  text-shadow: black 0 1px rgba(0, 0, 0, .5);
}

.day {
  background-color: #f2f2f2;
  margin: 0;
  padding: 5px 0;
}

.day li {
  color: #999999;
  display: inline-block;
  font-size: 10px;
  padding: 0px;
  text-align: center;
  width: 35px;
}

.cal-date li {
  background-color: #fefefe;
  border-top: 1px solid gray; 
  border-right: 1px solid gray;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  width: 38px;
}

.previous-month {
  color: #ccc;
}

li.today {
  background-color: #35a9f6;
  color: white;
}

li.special {
  color: #35a9f6;
}


/* 
---------------------------------------------
  T A B L E   E X P E R I M E N T 
--------------------------------------------- */

.table-back {
  background-color: #fff9ad;
  height: 579px;
  margin: 0 auto;
  width: 680px;
  padding: 20px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border: 1px solid #c6c9cc;
  font-family: Helvetica, Arial, sans-serif;
}

.schedule {
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
}

.schedule-header th {
  background-color: #2ea0ec;
  color: #fff;
  font-size: 14px;
  padding: 10px 0;
}

tbody td {
  background: #fff;
  background: -webkit-linear-gradient(#fff, #f3f3f3);
  background:    -moz-linear-gradient(#fff, #f3f3f3);
  background:     -ms-linear-gradient(#fff, #f3f3f3);
  background:      -o-linear-gradient(#fff, #f3f3f3);
  background:         linear-gradient(#fff, #f3f3f3);
  padding: 10px 0 15px 20px;
}

.small-header {
  display: block;
  font-weight: bold;
  padding: 8px 0 5px;
}

td p {
  color: #999;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
  padding: 0;
}

.logo-column .small-header {
  padding-bottom: 2px;
}

.logo-column p {
  padding-bottom: 5px;
}

td h5 {
  color: #2688cf;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 0;
}

/* IF I FLOATED AIRLINE LOGOS... 
.air-logo {
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
*/

.logo-column {
  padding-left: 60px;
}

.logo-column.airline-aa {
  background: url(../img/aa_40x40.jpg) 10px 10px no-repeat;
}

.logo-column.airline-delta {
  background: url(../img/delta_40x40.jpg) 10px 10px no-repeat;
}

.status {
  font-size: 14px;
  font-weight: bold;
}

.on-time {
  color: #7dba48;
}

.delayed {
  color: #f3d048;
}

.cancelled {
  color: #d94240;
}



/* F O R M */

.form-block{
  padding: 0 0 20px 0; 
  margin: 0;
}

.form-block *{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.form-block li{ 
  margin: 0 0 10px 0;
  padding: 0;
}

fieldset {
  background-color: #d3d3d3;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
}

fieldset p {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 3px;
}

fieldset p.nl-pitch {
  color: #0000ff;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

form {
  margin: 0 auto;
}

input {
  background: #fff;
  border: 2px solid #c6c9cc;
  border-radius: 4px;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

input[type="submit"] {
  background-color: purple;
  border-radius: 6px;
  color: #fff;
  font-family: 'Helvetica Neue' Helvetica Arial sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

input[type="radio"],
input[type="checkbox"]{
  width: auto;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 3px;
}

textarea {
  height: 50px;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 5px;
}

.radio label {
  float: left;
  display: inline;
  line-height: 22px;
  margin: 0 20px 0 0;
}



/* F O O T E R  S O C I A L  I C O N S */

.footer-social {
  margin: 0 auto 20px auto;
  overflow: hidden;
  padding: 0;
  width: 80px;
}

.footer-social li {
  float: left; 
  display: inline;
  margin: 0 0 0 10px; padding: 0;
}

.footer-social li:first-child{
  margin-left: 0;
}

.footer-social li a{
  background-image: url('../img/social-sprite.png');
  display: block;
  padding: 0; margin: 0;
  width: 20px; height: 20px;
  text-indent: -9999px;
  overflow: hidden;
}

.facebook-icon a{
  background-position: 0 -25px;
}

.twitter-icon a{
  background-position: 0 0;
}

.googleplus-icon a{
  background-position: 0 -125px;
}

i {
  background: url('img/social-sprite.png') no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

/* 
------------------------------------
  S H A Y  E X A M P L E S
------------------------------------ */

.col {
  background: blue;
  border: 5px solid sandybrown;
  color: #fff;
  float: left;
  margin: 10px;
  padding: 20px;
  width: 180px
  }

 .primary-logo {
  line-height: 1;
  text-align: center
} 


/* E R I C  E X A M P L E */

.wrapper-container .alpha,
.wrapper-container .omega{ float: left; width: 300px; padding: 20px; margin: 0 20px 20px 0;  background: blue; color: #fff; }
.wrapper-container .clear{ clear: both; }



